<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @beer_style.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>flavor profile</dt>
              <dd><%= @beer_style.std_flav_profile %></dd>

              <!-- <dt>Image</dt> -->
              <dd><%= @beer_style.image %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), beer_styles_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_beer_style_path(@beer_style), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @beer_style, method: :delete, data: { confirm: "Do you really want to delete this beer_style?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
