<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @recipe.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Brew type</dt>
              <dd><%= @recipe.brew_type %></dd>

              <dt>Description</dt>
              <dd><%= @recipe.description %></dd>

              <dt>Target original gravity</dt>
              <dd><%= @recipe.target_original_gravity %></dd>

              <dt>Target final gravity</dt>
              <dd><%= @recipe.target_final_gravity %></dd>

              <dt>Target abv</dt>
              <dd><%= @recipe.target_abv %></dd>

              <dt>Target aroma</dt>
              <dd><%= @recipe.target_aroma %></dd>

              <dt>Target ibu</dt>
              <dd><%= @recipe.target_ibu %></dd>

              <dt>Label</dt>
              <dd><%= @recipe.label %></dd>

              <dt>Target flavor profile</dt>
              <dd><%= @recipe.target_flavor_profile %></dd>

<!--               <dt>User</dt>
              <dd><%= @recipe.user.email %></dd> -->

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), recipes_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_recipe_path(@recipe), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @recipe, method: :delete, data: { confirm: "Do you really want to delete this recipe?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
